@import './normalize',
        './globals';

body {
    font-weight: 400;
    background: $color-white;
    color: $color-black;
    font-family: $font-inter;
}

button,
input,
select,
textarea {
    font-weight: 400;
    color: $color-black;
    font-family: $font-inter;
}

.container {
    max-width: 1440px;
    width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: $color-black;
    text-transform: uppercase;

    &-blue {
        background: $color-blue;
        color: $color-white;
    }
}

// Bid
.bid {
    &-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px 0 40px;
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__line {
            height: 1px;
            width: 100%;
            background: #e9e9e9;
            flex-shrink: 0;
        }
    }

    &-title {
        font-family: $font-manrope;
        font-weight: 800;
        font-size: 16px;
        line-height: 12px;
        letter-spacing: -0.01em;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    &-dots {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 0;
    }

    &-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        flex-shrink: 0;
        background: #d1d5dc;
    }

    &-current__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;

        &-label {
            font-family: $font-manrope;
            font-weight: 800;
            font-size: 16px;
            line-height: 12px;
            letter-spacing: -0.01em;
            color: #99a1af;
        }

        &-value {
            font-family: $font-manrope;
            font-weight: 800;
            font-size: 21px;
            line-height: 110%;
            letter-spacing: -0.01em;
            
        }
    }

    &-estimate {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &__value {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.01em;
            color: #4a5565;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
    }

    &-timer {
        width: 100%;
        border: 1px solid #d1d5dc;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 14px;

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.01em;
            text-align: center;
            color: #4a5565;
        }
    }

    &-note {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        text-align: center;
        color: #6a7282;
    }
}
// Bid end

// Cost card
.cost-card {
    border: 1px solid #d1d5dc;
    border-radius: 14px;
    overflow: hidden;

    &__calculation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 24px 24px 0;

        .calculation {
            &-btn {
                border: 1px solid #d1d5dc;
                border-radius: 4px;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 8px;
            }

            &-title {
                font-weight: 400;
                font-size: 12px;
                line-height: 167%;
                letter-spacing: -0.01em;
                color: #717179;
            }

            &-value {
                font-family: $font-manrope;
                font-weight: 800;
                font-size: 25px;
                line-height: 18px;
                color: $color-black;
            }
        }
    }

    &__accordion {
        border-bottom: 1px solid #D1D5DC;
        
        .accordion {
            &-head {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                padding: 16px 24px 20px;
            }

            &-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 4px 0;

                &__left {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                &__icon {
                    flex-shrink: 0;
                    transition: transform 200ms ease;
                }

                &__text {
                    font-family: $font-manrope;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 10px;
                    letter-spacing: -0.01em;
                    color: $color-black;
                }

                &[aria-expanded="true"] {
                    .accordion-btn__icon {
                        transform: rotateZ(90deg);
                    }
                }
            }
            
            &-results {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 4px;

                &__item {
                    border-radius: 4px;
                    padding: 2px 8px;
                    background: rgba(23, 73, 159, 0.1);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 167%;
                    letter-spacing: -0.01em;
                    color: $color-blue;
                }
            }

            &-body {
                overflow: hidden;
                will-change: opacity, transform;
            }
        }

        &.active {
            .accordion {
                &-head {
                    padding-bottom: 12px;
                }
                
                &-results {
                    display: none;
                }
            }
        }
    }

    .form {
        &-group {
            padding: 0 24px 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
        }

        &-control {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
        }

        &-label {
            border-radius: 8px 0 0 8px;
            padding: 0px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(244, 244, 245, 0.5);

            &__text {
                font-weight: 400;
                font-size: 12px;
                line-height: 167%;
                letter-spacing: -0.01em;
                color: #717179;
            }
        }

        &-select {
            height: 36px;
            background: url('../images/arrow-down.svg') no-repeat;
            background-color: #f4f4f5;
            background-position: calc(100% - 12px) center;
            border-radius: 0 8px 8px 0;
            padding: 0 36px 0 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.01em;
            color: #0a0a0a;
            appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            text-overflow: ellipsis;
            max-width: 100%;
            width: 100%;
        }

        &-inp {
            height: 36px;
            background-color: #f4f4f5;
            border-radius: 0 8px 8px 0;
            padding: 0 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.01em;
            color: #0a0a0a;
            width: 100%;
        }

        &-checkbox {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            &__icon {
                width: 12px;
                height: 12px;
                border: 1px solid #d5d5d5;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                img {
                    opacity: 0.8;
                    display: none;
                    width: 8px;
                    height: auto;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                letter-spacing: -0.01em;
                color: #99a1af;
            }

            &.active {
                .form-checkbox {
                    &__left span {
                        color: #717179;
                    }

                    &__icon {
                        border-color: #717179;

                        img {
                            display: block;
                        }
                    }

                    &__text {
                        color: #0A0A0A;
                    }
                }
            }
        }
    }

    .total {
        &-accordion {
            background: #f4f4f5;

            .accordion-btn {
                &__left span {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 13px;
                    color: $color-black;
                }

                &__text {
                    font-weight: 800;
                    font-size: 25px;
                    line-height: 18px;
                }
            }
        }

        &-summaries {
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            // gap: 16px;
        }

        &-summary {
            padding: 16px 0 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            &__title {
                font-family: $font-manrope;
                font-weight: 800;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.01em;
                color: $color-black;
                margin-bottom: 12px;
            }

            &__list {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 8px;
            }

            &__item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__label {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                letter-spacing: -0.01em;
                color: #717179;
            }

            &__value {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                letter-spacing: -0.01em;
                text-align: right;
                color: #99a1af;
            }
        }
    }

    &__foot {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__note {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: #6a7282;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-grid {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    &__link {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f4f4f5;
    }
}
// Cost card end